.theme-container {
    padding: 20px;
  }
  
  .day-block {
    margin-bottom: 30px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: center;
  }
  
  button {
    padding: 4px 8px;
    font-size: 14px;
  }
  .temp{
    margin: 5px 5px;
  }